html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #73f5ea;
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 1000;
    color: #ff0080;
    text-transform: uppercase;
}



.memory {
    width: 660px;
    min-height: 680px;
    background: white;
    padding: 32px;
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: #032b42;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin: 0 0 3em;
   
}

.memory .card {
    height: 125px;
    width: 125px;
    background: #1646ad;
    font-size: 0;
    color: #ff00c8;
    border-radius: 8px;
    cursor: pointer;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);;
}

.memory .card.open {
    transform: rotateY(0) !important;
    background: #6fe46f;
    cursor: default;
}

.memory .card.show {
    font-size: 50px;
}

.memory .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 50px;
}



.punteggio {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.punteggio .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.punteggio .stars li {
    list-style: none;
    display: inline-block;
}

.punteggio .restart {
    float: right;
    cursor: pointer;
}



@media only screen and (max-width: 800px){
    .memory .card{
      width: 75px;
      height: 75px;
      line-height: 75px;
    }
  
    .memory {
      width: 500px;
    }
}
  
@media only screen and (max-width: 450px){
    .memory .card{
      width: 50px;
      height: 50px;
      line-height: 50px;
    }
  
    .memory {
      width: 300px;
    }
}