$padding-nav: 15px;
$margin-header: 15px;








header {
    background-color: antiquewhite;
    nav{
        text-align: center;
        font-size: 40px;
        padding: $padding-nav;
        li{
            list-style: none;
            display: inline-block;
            margin-right: $margin-header;
            a{
                display: inline-block;
                text-decoration: none;
                color: rgb(187, 73, 73);
                text-transform: uppercase;
                border: 1px dotted rgb(36, 187, 36);
                border-radius: 25px;
                padding: $padding-nav;
                transition: transform 1s;
                &:hover{
                    background-color: pink;
                    transform: scale(1.2, 1.2);
                }
            }
        }
    }
}